.exercise-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.search-field {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.exercise {
    width: 75vw; 
    height: 75vh; 
    object-fit: contain; 
}

.exercise-view {
    display: flex;
    justify-content: center;
}

